<!DOCTYPE html>
<html class="no-js" lang="<%- pageData.lang %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title><%- pageData.head.title %></title>
    <link rel="alternate" hreflang="en" href="https://warrenshea.github.io<%- pageData.head.urlEn %>">
    <link rel="canonical" href="https://warrenshea.github.io<%- pageData.head.canonical %>" />
    <meta name="keywords" content="<%- pageData.head.metaPageKeywords %>">
    <meta name="description" content="<%- pageData.head.metaPageDescription %>">
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<%if (pageData.stylesheets){
    let pageStylesheets = pageData.stylesheets;
    if(!(Array.isArray(pageData.stylesheets))){
      pageStylesheets = [pageData.stylesheets];
    }         
    pageStylesheets.forEach((stylesheet,index)=>{ %>
    <link href="<%-stylesheet%>" rel="stylesheet" type="text/css" />
<%  });
  } %>
  </head>
  <body>
