<!DOCTYPE html>
<html class="storm-eagle" lang="<%- lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- head.title %></title>
    <link rel="alternate" hreflang="en" href="https://warrenshea.github.io<%- head.urlEn %>">
    <link rel="canonical" href="https://warrenshea.github.io<%- head.urlCanonical %>">
    <meta name="keywords" content="<%- head.metaPageKeywords %>">
    <meta name="description" content="<%- head.metaPageDescription %>">
<%if (stylesheets){
    let pageStylesheets = stylesheets;
    if(!(Array.isArray(stylesheets))){
      pageStylesheets = [stylesheets];
    }         
    pageStylesheets.forEach((stylesheet,index)=>{ %>
    <link href="<%-stylesheet%>" rel="stylesheet" type="text/css">
<%  });
  } %>
  </head>
  <body>