<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">

      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Popover</h1>
      </section>

      <section class="row0 py:32px">
        <%id="popover-1";%>
        <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('<%=id%>',this);" aria-label="Popover information, opens in a new pop-up">
          <span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span>
        </button>
        <div class="position:relative">
          <div class="right" data-module="popover" role="dialog" aria-modal="true" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">A <a class="anchor:blue" href="https://en.wikipedia.org/wiki/Popover" target="_blank" class="heebo:bold">popover</a> is a light roll made from an egg batter similar to that of Yorkshire pudding, typically baked in muffin tins or dedicated popover pans, which have straight-walled sides rather than angled.</p>
              </div>
            </div>
          </div>
        </div>

        <%id="popover-2";%>
        <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
          <span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span>
        </button>
        <div class="position:relative">
          <div class="right" data-module="popover" role="dialog" aria-modal="true" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="row0 py:32px">
        Popover 3
        <%id="popover-3";%>
        <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('<%=id%>',this);" aria-label="Popover information, opens in a new pop-up">
          <span class="ic ic-type:solid display:block ic-color:blue ic-size:16px ic-name:info-circle" aria-hidden="true"></span>
        </button>
        <div class="position:relative">
          <div class="right" data-module="popover" role="dialog" aria-modal="true" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">A <a class="anchor:blue" href="https://en.wikipedia.org/wiki/Popover" target="_blank" class="heebo:bold">popover</a> is a light roll made from an egg batter similar to that of Yorkshire pudding, typically baked in muffin tins or dedicated popover pans, which have straight-walled sides rather than angled.</p>
              </div>
            </div>
          </div>
        </div>
         &nbsp;and Popover 4
        <%id="popover-4";%>
        <button class="flex-grow:0 ml:4px" aria-haspopup="true" aria-expanded="false" data-module="popover.trigger" onclick="storm_eagle.popover.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
          <span class="ic ic-type:solid display:block ic-color:blue ic-size:16px ic-name:info-circle" aria-hidden="true"></span>
        </button>
        <div class="position:relative">
          <div class="right" data-module="popover" role="dialog" aria-modal="true" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <div class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <div class="lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div data-module="popover.overlay"></div>
    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>
