<%- include(`${process.env.PWD}/_dev/_layouts/_default.head.ejs`, pageData) %>
    <main class="w:100%" role="main">


      <section class="row py:32px">
        <h1 class="w:12 play:bold fs:40px color:eerie-black">Popover</h1>
      </section>

      <section class="grid">
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/popover" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/popover</a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Popover_API" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/Popover_API</a>
      </section>

      <section class="row0 py:32px">
        <%id="popover-1";%>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="Popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:16px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover data-module="popover" data-popover-direction="right" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">A <a class="anchor:blue heebo:bold" href="https://en.wikipedia.org/wiki/Popover" target="_blank">popover</a> is a light roll made from an egg batter similar to that of Yorkshire pudding, typically baked in muffin tins or dedicated popover pans, which have straight-walled sides rather than angled.</p>
              </span>
            </span>
          </span>
        </span>
      </section>

      <section class="row0 py:32px">
        <%id="popover-2";%>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover data-module="popover" data-popover-direction="right" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="display:block bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </span>
            </span>
          </span>
        </div>
      </section>

      <section class="row0 py:32px">
        Popover 3
        <%id="popover-3";%>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="Popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover data-module="popover" data-popover-direction="right" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="display:block bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">A <a class="anchor:blue heebo:bold" href="https://en.wikipedia.org/wiki/Popover" target="_blank">popover</a> is a light roll made from an egg batter similar to that of Yorkshire pudding, typically baked in muffin tins or dedicated popover pans, which have straight-walled sides rather than angled.</p>
              </span>
            </span>
          </span>
        </span>
         &nbsp;and Popover 4
        <%id="popover-4";%>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover data-module="popover" data-popover-direction="right" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="display:block bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </span>
            </span>
          </span>
        </span>
      </section>

      <section class="row0 py:32px">
        <%id="popover-5";%>
        <div class="w:100% text-align:center">Top</div>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle align-self:centered">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover class="bottom" data-module="popover" data-popover-direction="top" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="display:block bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </span>
            </span>
          </span>
        </div>
      </section>

      <section class="row0 py:32px">
        <%id="popover-6";%>
        <div class="w:100% text-align:center">Bottom</div>
        <span class="display:inline-block lh:0 position:relative vertical-align:middle align-self:centered">
          <button class="flex-grow:0 ml:4px" popovertarget="<%=id%>" data-module="popover.trigger" onclick="storm_eagle.popover.action.open('<%=id%>',this);" aria-label="More popover information, opens in a new pop-up">
            <span class="ic ic-type:solid display:block ic-color:blue ic-size:32px ic-name:info-circle" aria-hidden="true"></span>
          </button>
          <span popover class="bottom" data-module="popover" data-popover-direction="bottom" id="<%=id%>" aria-labelledby="<%=id%>-id">
            <span class="display:block bgc:white w:100% md-:brrtx:4px lg+:brr:4px">
              <button data-popover-close onclick="storm_eagle.popover.action.close();" aria-label="Close information pop-up"><span class="ic ic-type:solid display:block ic-color:blue ic-size:24px ic-name:times" aria-hidden="true"></span></button>
              <span class="display:block lh:24 md-:py:16px md-:pl:16px md-:pr:48px lg+:py:24px lg+:pl:32px lg+:pr:56px">
                <p id="<%=id%>-id">Popovers may be served either as a sweet, topped with fruit and whipped cream; or, butter and jam for breakfast; or, with afternoon tea; or, with meats at lunch and dinner.</p>
              </span>
            </span>
          </span>
        </div>
      </section>

    </main>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.scripts.ejs`, pageData) %>
<%- include(`${process.env.PWD}/_dev/_layouts/_default.footer.ejs`, pageData) %>
